@charset "UTF-8";
/* CSS Document */
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  width: 100%;
  box-sizing: border-box;
}
body {
  color: #333333; /* RGB */
    background-color: #fbf8f3;
  font-family: 'A-OTF リュウミン Pr6N L-KL','YuMincho';
    text-align: left;
}
h2{
    font-family: 'ヒラギノ明朝 ProN','Yu Mincho', 'Hiragino Mincho ProN';
    font-size: 1.8rem;
    box-sizing: border-box;
}
h2 span{
    font-size: 1.2rem;
    font-weight:400;
    color:#337f00;
}
a:hover {
  opacity: 0.5;
}
.none {
  display: none;
}
@media (min-width:990px){
    h2{
        font-size: 2.8rem;
    }
    h2 span{
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
    }
}
